body {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #eef2f6,
    #eaf0f7,
    #e8edf8,
    #e7eaf9,
    #e7e7f9,
    #e7e7f9,
    #e7e7f9,
    #e7e7f9,
    #e7eaf9,
    #e8edf8,
    #eaf0f7,
    #eef2f6
  );
  height: 100vh;
}
